
html{
    box-sizing: border-box;
}

*, 
*:before, 
*:after{
    box-sizing: inherit;
}

.cf:before, 
.cf:after{
    content: "";
    display: table;
}


.cf:after{
    clear: both;
} 

body{
    margin: 0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-body-color);
}


:root{
    --background-body-color: #fff8ce; 
    --main-body-color: #faf0b8; 
    --background-header-color: #a8db7b; 
    --background-footer-color: #8cb369; 
    --background-instructions-color: #e9edc9; 
    --green-text-color: #518f19;
    --white-text-color: #f5f5f5;
    
}

main{
    /* background-image: url(../img/grid-12.png); */
    background-color: var(--main-body-color);
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    width: 956px;
    margin: 20px auto;
    
}

.primary{
    background-color: var(--background-header-color);
    margin-top: 0px;
    padding: 60px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

#title{
    background-color: #fff8ce;
    padding: 30px;
    color: var(--green-text-color);
    text-align: center;
}

#information{
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: 13;
}


#item-links{
    background-color: #e9edc9;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 9;
}


/* #instructions{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;
} */

#first{
    background-color: #518f19;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    
}


#second{
    background-color: #a8db7b;
    margin-bottom: 10px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

#third{
    background-color: #e9edc9;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

#fourth{
    background-color: #8cb369;
    margin-bottom: 10px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}



footer{
    background-color: var(--background-footer-color);
    margin-bottom: 0px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 14;

}

h2{
    color: var(--white-text-color); 
    text-align: center;
    font-size: 30px;
}

#description{
    color: var(--white-text-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


#copyright{
    color: var(--white-text-color);
    font-weight: 500;
    text-align: center;
}


/* Mobile View */ 

@media screen and (min-width: 420px){

    main{
        max-width: 460px;
        display: grid;
        grid-template-columns: (4, 1fr);
        grid-template-rows: auto;
    }


    .primary{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }


    #information{
        display: grid;
        grid-template-columns: subgrid;
        grid-column-start: 1;
        grid-column-end: 5;
        
    }


    #item-links{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #item-links ul{
        display: flex;
        flex-direction: row;
    }

    #item-links ul li{
        padding: 9px;
        list-style-type: none;
        text-align: center;
    }

    #item-links ul li a{
        margin: 4px;
    }

    #first{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #second{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }


    #third{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    #fourth{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }



    footer{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    
}


/* Tablet View */


@media screen and (min-width: 700px){

    main{
        max-width: 850px;
        display: grid;
        grid-template-columns: (8, 1fr);
        grid-template-rows: auto;
    }

    .primary{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #information{
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #item-links{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #item-links ul li {
        margin: 10px;
    }

    #first{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    

    #second{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }


    #third{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }


    #fourth{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 8;

    }

    footer{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 10;
    }

}