
html{
    box-sizing: border-box;
}

*, 
*:before, 
*:after{
    box-sizing: inherit;
}

.cf:before, 
.cf:after{
    content: "";
    display: table;
}


.cf:after{
    clear: both;
} 

body{
    margin: 0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-body-color);
}


:root{
    --background-body-color: #fff8ce; 
    --background-header-color: #a8db7b; 
    --background-footer-color: #8cb369; 
    --background-instructions-color: #e9edc9; 
    --green-text-color: #518f19;
    --white-text-color: #f5f5f5;
    
}

main{
    background-image: url(../img/grid-12.png);
    background-color: var(--background-body-color);
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    width: 956px;
    margin: 20px auto;
    
}

.primary{
    background-color: var(--background-header-color);
    margin-top: 0px;
    padding: 60px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

#title{
    background-color: #fff8ce;
    padding: 30px;
    margin-right: 240px;
    margin-left: 240px;
    color: var(--green-text-color);
    text-align: center;
}

#item-links{
    background-color: #e9edc9;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 9;
}

#instructions{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;
}

#first{
    background-color: #518f19;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}


#second{
    background-color: #a8db7b;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

#third{
    background-color: #e9edc9;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

#fourth{
    background-color: #8cb369;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}



footer{
    background-color: var(--background-footer-color);
    margin-bottom: 0px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 14;

}

h2{
    color: var(--white-text-color); 
    text-align: center;
    font-size: 30px;
}

#description{
    color: var(--white-text-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


#copyright{
    color: var(--white-text-color);
    font-weight: 500;
    text-align: center;
}