
html{
    box-sizing: border-box;
}

*, 
*:before, 
*:after{
    box-sizing: inherit;
}

.cf:before, 
.cf:after{
    content: "";
    display: table;
}


.cf:after{
    clear: both;
} 

body{
    margin: 0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-body-color);
}


:root{
    --background-body-color: #fff8ce; 
    --main-body-color: #faf0b8; 
    --background-header-color: #a8db7b; 
    --background-footer-color: #8cb369; 
    --background-instructions-color: #e9edc9; 
    --green-text-color: #518f19;
    --green-text-two: #1c3a02;
    --white-text-color: #f5f5f5;
    
}

main{
    /* background-image: url(../img/grid-12.png); */
    /* background-color: var(--main-body-color); */
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    width: 956px;
    margin: 20px auto;
    
}

.primary{
    background-color: var(--background-header-color);
    margin-top: 0px;
    padding: 60px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

#title{
    background-color: #fff8ce;
    padding: 30px;
    color: var(--green-text-color);
    text-align: center;
}

#information{
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: 13;
}


#item-links{
    background-color: #e9edc9;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 9;
}


/* #instructions{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;
} */

#first{
    background-color: var(--background-instructions-color);
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    
}


#second{
    background-color: var(--background-instructions-color);
    margin-bottom: 10px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

#third{
    background-color: var(--background-instructions-color);
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

#fourth{
    background-color: var(--background-instructions-color);
    margin-bottom: 10px;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}



footer{
    background-color: var(--background-footer-color);
    margin-bottom: 0px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 14;

}

h2{
    color: var(--white-text-color); 
    text-align: center;
    font-size: 30px;
}

#description{
    color: var(--white-text-color);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}


#copyright{
    color: var(--white-text-color);
    font-weight: 500;
    text-align: center;
}


p{
    text-align: center;
    font-weight: 500;
    padding: 20px;

}

li, a{
    color: var(--green-text-two);
    font-weight: 600;
}

img, #sunset-picture, #sunset-reference, #first-step, #second-step, #third-step, #fourth-step{
    display: flex;
    justify-content: center;
    
}

#sunset-reference{
    border: 8px double var(--green-text-two);
}


/* Mobile View */ 

@media screen and (min-width: 420px){

    main{
        max-width: 550px;
        display: grid;
        grid-template-columns: (4, 1fr);
        grid-template-rows: auto;
    }


    .primary{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }


    #information{
        display: grid;
        grid-template-columns: subgrid;
        grid-column-start: 1;
        grid-column-end: 5;
        
    }

    #sunset{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #sunset-picture, #sunset-reference, img{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    #item-links{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #item-links ul{
        display: flex;
        flex-direction: row;
    }

    #item-links ul li{
        padding: 9px;
        list-style-type: none;
        text-align: center;
    }

    #item-links ul li a{
        margin: 4px;
    }

    #first{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    #second{
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }


    #third{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    #fourth{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 10;
    }



    footer{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    
}


/* Tablet View */


@media screen and (min-width: 700px){

    main{
        max-width: 980px;
        display: grid;
        grid-template-columns: (8, 1fr);
        grid-template-rows: auto;
    }

    .primary{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #information{
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #sunset{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #sunset-picture, #sunset-reference, img{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    #item-links{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #item-links ul li {
        margin: 5px;
    }

    #first{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    

    #second{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 8;
    }


    #third{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 10;
    }


    #fourth{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 10;

    }

    footer{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 12;
    }

}


/* Desktop View */ 


@media screen and (min-width: 1000px){


    main{
        max-width: 1200px; 
        display: grid;
        grid-template-columns: (12, 1fr);
        grid-template-rows: auto;
    }


    .primary{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
    }


    #sunset{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4; 
    }


    #sunset-picture, #sunset-reference, img{
        display: flex;
        justify-content: center;
    }


     #item-links{
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 11;
    }

    #item-links ul{
        display: flex;
        flex-direction: column;
    }


    #item-links ul li {
        margin: 10px;
    } 


     #information{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 11;
    } 

   

    #first{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    

    #second{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 8;
    }


    #third{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 11;
    }


    #fourth{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 11;

    }

    footer{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 12;
    }
    
}