
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
/* background-image: url("../img/grid.png");  */
width: 948px;
margin: 20px auto;
border: 1px solid #000;  
display: grid; 
grid-template-columns: (16, 1fr);
grid-template-rows: auto;
gap: 20px; 
padding: 20px; 
}

header.primary{
 background: rgba(0, 0, 0, 0.4); 
 grid-column-start: 1;
 grid-column-end: 17; 
 grid-row-start: 1;
 grid-row-end: 2;
}


#content{
  grid-column-start: 1;
  grid-column-end: 17; 
  grid-row-start: 2;
  grid-row-end: 3; 
  display: grid; 
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}


#blog{
 /* width: 676px;  */
  background: rgba(0, 0, 0, 0.6); 
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2; 

}

aside {
  background: rgba(0, 0, 0, 0.3); 
  /* width: 212px; */
  grid-column-start: 13;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 2;
}


footer.primary{
  background: rgba(0, 0, 0, 0.4);
  grid-column-start: 1;
  grid-column-end: 17; 
  grid-row-start: 3;
  grid-row-end: 4;
}